*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/contact\ bg.jpg);
    background-size: cover;
    height: 100vh;
}
header{
    background-color: rgb(89, 87, 87,0.1);
}
header h1{
    color: #f6a887;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
form{
    border: none;
    border-radius: 10px;
    height: 650px;
    width: 700px;
    margin: 50px 500px 50px 400px;
    backdrop-filter: blur(15px);
}
form:hover{
    box-shadow: 0px 0px 15px 5px ;
    color: rgb(236, 184, 184);
    transition: 1s;
}
form h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px; 
    color: lemonchiffon;
}
input[type="text"]{
    height: 50px;
    width: 270px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: lemonchiffon;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    border: none;
}
input[type="email"]{
    height: 50px;
    width: 270px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: lemonchiffon;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    border: none;
}
input[type="number"]{
    height: 50px;
    width: 270px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    background-color: lemonchiffon;
    margin-bottom: 30px;
    border-radius: 25px;
    border: none;
}
input[placeholder="First Name"]{
    color: black;
    font-size: 17px;
}
input[placeholder="Last Name"]{
    color: black;
    font-size: 17px;
}
input[placeholder="E-mail"]{
    color: black;
    font-size: 17px;
}
input[placeholder="Phone"]{
    color: black;
    font-size: 17px;
}
textarea{
    background-color: lemonchiffon;
    height: 250PX;
    width: 450PX;
    border-radius: 15px;
    margin-left: 125PX;
    padding: 15PX 15PX 15PX 15PX;
    
}
textarea[placeholder="FeedBack"]{
    color: black;
    font-size: 19px;
}
button{
    height: 50px;
    width: 200px;
    margin-left: 260px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

button:hover{
    color: rgb(156, 244, 184);
    box-shadow: 0px 0px 15px 5px;
    transition: 2s;
}
footer {
    background-color: black;
    position: relative;
    color: white;
    height: 260px;
    text-align: center; 
    margin-top: 20px;
}
.play{
    position:absolute;
    left: 100px;
    top: 50px;
}
address{
    margin-top: 20px;
    font-size: 20px;
}
footer h1{
    padding-top: 20px;
    padding-bottom: 20px; 
}
p{
    margin-top: 15px;
   font-size: 22px;
}
.mail{
    position: absolute;
    left: 75%;
    bottom: 55px;
}
.mail h1{
    padding-top: 15px;
    padding-bottom: 20px;
}
.icon i{
    font-size: 30px;
    padding-top: 20px;
     padding-left: 30px;
}


@media(max-width:768px){
    body{
        background-image: url(./images/contact\ bg.jpg);
        background-size: cover;
        height: 100vh;
    }
    header{
        background-color: rgb(89, 87, 87,0.1);
    }
    header h1{
        color: #f6a887;
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    form{
        border: none;
        border-radius: 10px;
        height: 650px;
        width: 700px;
        margin: 30px 25px 50px 40px;
        backdrop-filter: blur(8px);
    }
    form:hover{
        box-shadow: 0px 0px 15px 5px ;
        color: rgb(236, 184, 184);
        transition: 1s;
    }
    form h1{
        text-align: center;
        padding-top: 10px;
       padding-bottom: 10px; 
        color: rgb(255, 251, 211);
    }
    input[type="text"]{
        height: 50px;
        width: 270px;
        margin-left: 50px;
        margin-top: 20px;
        background-color: lemonchiffon;
        padding: 15px 15px 15px 15px;
        border-radius: 25px;
        border: none;
    }
    input[type="email"]{
        height: 50px;
        width: 270px;
        margin-left: 50px;
        margin-top: 20px;
        background-color: lemonchiffon;
        padding: 15px 15px 15px 15px;
        border-radius: 25px;
        border: none;
    }
    input[type="number"]{
        height: 50px;
        width: 270px;
        margin-left: 50px;
        margin-top: 20px;
        padding: 15px 15px 15px 15px;
        background-color: lemonchiffon;
        margin-bottom: 30px;
        border-radius: 25px;
        border: none;
    }
    input[placeholder="First Name"]{
        color: black;
        font-size: 17px;
    }
    input[placeholder="Last Name"]{
        color: black;
        font-size: 17px;
    }
    input[placeholder="E-mail"]{
        color: black;
        font-size: 17px;
    }
    input[placeholder="Phone"]{
        color: black;
        font-size: 17px;
    }
    textarea{
        background-color: lemonchiffon;
        height: 250PX;
        width: 450PX;
        border-radius: 15px;
        margin-left: 125PX;
        padding: 15PX 15PX 15PX 15PX;
        
    }
    textarea[placeholder="FeedBack"]{
        color: black;
        font-size: 19px;
    }
    button{
        height: 50px;
        width: 200px;
        margin-left: 260px;
        margin-top: 15px;
        margin-bottom: 25px;
        border-radius: 25px;
        border: none;
        background-color:aliceblue;
        color:dimgray;
        font-size: 18px;
        font-weight: 600;
    }
    
    button:hover{
        color: rgb(210, 243, 220);
        box-shadow: 0px 0px 15px 5px;
        transition: 2s;
    }
    footer {
        background-color: black;
        position: relative;
        color: white;
        height: 260px;
        text-align: center; 
    }
    .play{
        position:absolute;
        left: 10px;
        top: 100px;
    }
    .play img{
        width: 170px;
    }
    address{
        margin-top: 20px;
        font-size: 16px;
    }
    footer h1{
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    p{
        margin-top: 15px;
       font-size: 18px;
    }
    .mail{
        position: absolute;
        left: 75%;
        bottom: 55px;
    }
    .mail h1{
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .icon i{
        font-size: 20px;
        padding-top: 20px;
         padding-left: 30px;
    } 
}

@media(max-width:480px){
    body{
        background-image: url(./images/contact\ bg.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    header{
        background-color: rgb(89, 87, 87,0.1);
    }
    header h1{
        color: #f6a887;
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    form{
        border: none;
        border-radius: 10px;
        height: 670px;
        width: 450px;
        margin: 30px 25px 70px 10px;
        backdrop-filter: blur(8px);
    }
    form:hover{
        box-shadow: 0px 0px 15px 5px ;
        color: rgb(236, 184, 184);
        transition: 1s;
    }
    form h1{
       text-align: center;
       margin-bottom: 0px;
       padding-top: 20px;
       padding-bottom: 10px; 
       color: rgb(255, 251, 211);
    }
    input[type="text"]{
        height: 50px;
        width: 270px;
        margin-left: 100px;
        margin-top: 10px;
        background-color: lemonchiffon;
        padding: 15px 15px 15px 15px;
        border-radius: 25px;
        border: none;
    }
    input[type="email"]{
        height: 50px;
        width: 270px;
        margin-left: 100px;
        margin-top: 10px;
        background-color: lemonchiffon;
        padding: 15px 15px 15px 15px;
        border-radius: 25px;
        border: none;
    }
    input[type="number"]{
        height: 50px;
        width: 270px;
        margin-left: 100px;
        margin-top: 10px;
        padding: 15px 15px 15px 15px;
        background-color: lemonchiffon;
        margin-bottom: 10px;
        border-radius: 25px;
        border: none;
    }
    input[placeholder="First Name"]{
        color: black;
        font-size: 17px;
    }
    input[placeholder="Last Name"]{
        color: black;
        font-size: 17px;
    }
    input[placeholder="E-mail"]{
        color: black;
        font-size: 17px;
    }
    input[placeholder="Phone"]{
        color: black;
        font-size: 17px;
    }
    textarea{
        background-color: lemonchiffon;
        height: 200PX;
        width: 300PX;
        border-radius: 15px;
        margin-left: 85PX;
        padding: 15PX 15PX 15PX 15PX;
        
    }
    textarea[placeholder="FeedBack"]{
        color: black;
        font-size: 19px;
    }
    button{
        height: 40px;
        width: 200px;
        margin-left: 140px;
        margin-bottom: 15px;
        margin-top: 0px;
        border-radius: 25px;
        border: none;
        background-color:aliceblue;
        color:dimgray;
        font-size: 18px;
        font-weight: 600;
    }
    
    button:hover{
        color: rgb(210, 243, 220);
        box-shadow: 0px 0px 15px 5px;
        transition: 2s;
    }
    footer {
        background-color: black;
        position: relative;
        color: white;
        height: 190px;
        text-align: center; 
    }
    .play{
        position:absolute;
        left: 10px;
        top: 80px;
    }
    .play img{
        width: 100px;
    }
    address{
        margin-top: 10px;
        font-size: 12px;
    }
    footer h1{
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    p{
        margin-top: 8px;
       font-size: 12px;
    }
    .mail{
        position: absolute;
        margin-left: 10px;
    }
    .mail h1{
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .icon i{
        font-size: 18px;
        padding-top: 20px;
        padding-left: 30px;
    }
}